@import "tailwindcss";

@theme {
  --animate-slide-in: slide-in 1s 1;
  --animate-move-back: move-back 0.2s 1;
  --animate-move-back-large: move-back-large 0.2s 1;
  --animate-move-away: move-away 0.4s 1;
  --animate-move-away-large: move-away-large 0.4s 1;
  --animate-move-away-dg: move-away-dg 0.4s 1;
  --animate-move-back-dg: move-back-dg 0.2s 1;
  --color-secondary: #001529;
  --color-primary: #f6f8fa;
  --breakpoint-lg: 81.25rem;
  --breakpoint-dg: 64rem;
}

@layer base {
  html {
    @apply w-full h-full;
  }

  body {
    @apply max-w-[1440px] block mx-auto h-full overflow-x-hidden;
  }

  body > * {
    @apply m-0 p-0 box-border;
  }

  img {
    @apply object-cover;
  }
}

@layer components {
  .logo {
    @apply w-[25%] md:w-[12%] dg:w-[7%] lg:w-[7%];
  }

  .header {
    @apply flex gap-[2rem] items-center justify-around h-[16vh] bg-primary fixed top-0 left-0 right-0 z-15;
  }

  .dark-header {
    @apply bg-[#010409] text-white;
  }

  .content h1 {
    @apply text-3xl md:text-6xl font-bold dg:text-7xl dg:my-8 lg:text-8xl lg:my-8;
  }

  .header-buttons {
    @apply text-2xl w-11 h-11 border-2 flex items-center justify-center rounded-[0.5rem];
  }

  .sidebar {
    @apply w-[50%] h-full animate-slide-in fixed top-[16%] left-0 z-20 md:hidden;
  }

  .none {
    @apply hidden md:block;
  }

  .not-collapsed {
    @apply md:w-[75%] relative top-[16vh] md:ml-[25%] dg:w-[80.5%] dg:ml-[19.5%] md:animate-move-away dg:animate-move-away-dg  lg:animate-move-away-large lg:w-[86%] lg:ml-[14%];
  }

  .collapsed {
    @apply md:w-[90%]  relative top-[16vh]  md:ml-[10%] dg:w-[92.5%] dg:ml-[7.5%] md:animate-move-back dg:animate-move-back-dg lg:w-[94.3%] lg:ml-[5.7%] lg:animate-move-back-large;
  }

  .menu {
    @apply h-full;
  }

  .main-layout {
    @apply w-full h-[84%];
  }

  .content {
    @apply h-full bg-white p-4;
  }

  .dark-content {
    @apply bg-[#0D1117];
  }

  .dark-content h1 {
    @apply text-white;
  }

  .input-container {
    @apply w-full h-12 md:h-15 rounded-[0.5rem] border-2 mt-4 mb-4 relative overflow-hidden z-10 dg:w-[82%] lg:w-[82%];
  }

  .dark-content .input-container {
    @apply border-white;
  }

  .input-container > input {
    @apply w-full h-full border-0 outline-0 pl-3 md:text-2xl;
  }

  .input-container > input::placeholder {
    @apply text-[0.9rem] md:text-[1.2rem];
  }

  .dark-content .input-container > input::placeholder,
  .dark-content .input-container > input {
    @apply text-white;
  }

  .input-container > button {
    @apply absolute w-[15%] h-full top-0 right-0 text-white bg-secondary text-2xl flex items-center justify-center;
  }

  .dark-content .input-container > button,
  .dark-content .fetch-random {
    @apply text-secondary bg-white;
  }

  .fetch-random {
    @apply bg-secondary md:h-15 text-white h-12 w-full text-center text-[1.1rem] rounded-[0.5rem] dg:absolute lg:absolute dg:top-[9.55rem] lg:top-[11rem] dg:w-[15%] lg:w-[15%] dg:right-4 lg:right-8;
  }
}

@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes move-back {
  from {
    width: 75%;
    margin-left: 25%;
  }
  to {
    width: 90%;
    margin-left: 10%;
  }
}

@keyframes move-back-large {
  from {
    width: 86%;
    margin-left: 14%;
  }
  to {
    width: 94.3%;
    margin-left: 5.7%;
  }
}

@keyframes move-away {
  from {
    width: 90%;
    margin-left: 10%;
  }
  to {
    width: 75%;
    margin-left: 25%;
  }
}

@keyframes move-away-large {
  from {
    width: 94.3%;
    margin-left: 5.7%;
  }
  to {
    width: 86%;
    margin-left: 14%;
  }
}

@keyframes move-away-dg {
  from {
    width: 92.5%;
    margin-left: 7.5%;
  }
  to {
    width: 80.5%;
    margin-left: 19.5%;
  }
}

@keyfreme move-back-dg {
  from {
    width: 80.5%;
    margin-left: 19.5%;
  }
  to {
    width: 92.5%;
    margin-left: 7.5%;
  }
}
