@import "tailwindcss";

@layer base {
  body {
    @apply w-viewport h-fit;
  }

  body > * {
    @apply m-0 p-0 box-border;
  }

  img {
    @apply object-cover;
  }
}

@layer components {
  .content {
    @apply h-viewport bg-amber-800 p-4;
  }

  .logo {
    @apply w-[25%];
  }

  .header {
    @apply flex gap-[2rem] items-center justify-around h-[16%] bg-primary fixed top-0 left-0 right-0 z-15;
  }

  .content h1 {
    @apply text-3xl font-bold;
  }

  .header-buttons {
    @apply text-2xl w-11 h-11 border-2 flex items-center justify-center rounded-[0.5rem];
  }

  .sidebar {
    @apply w-[50%] h-full animate-slide-in fixed top-[16%] left-0 z-20;
  }

  .menu {
    @apply h-full;
  }

  .main-layout {
    @apply w-full h-[84%];
  }

  .content {
    @apply h-full bg-white relative top-[16vh];
  }

  .input-container {
    @apply w-full h-12 rounded-[0.5rem] border-2 mt-4 mb-4 relative overflow-hidden z-10;
  }

  .input-container > input {
    @apply w-full h-full border-0 outline-0 pl-3;
  }

  .input-container > input::placeholder {
    @apply text-[0.9rem];
  }

  .input-container > button {
    @apply absolute w-[15%] h-full top-0 right-0 text-white bg-secondary text-2xl flex items-center justify-center;
  }

  .fetch-random {
    @apply bg-secondary text-white h-12 w-full text-center text-[1.1rem] rounded-[0.5rem];
  }
}

@theme {
  --animate-slide-in: slide-in 1s 1;
  --background-color-secondary: #001529;
  --background-color-primary: #f6f8fa;
  --width-viewport: 100vw;
  --height-viewport: 100vh;
}

@keyframes slide-in {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
